.button-star-regis {
  background-color: #ffbe98;
  border: solid 4px #ffbe98;
  color: #ffffff;
  border-radius: 20px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.button-star-regis:hover {
  background-color: #dca07e;
  border: solid 4px #dca07e;
}
