
body{
  background-color: #fff9e8;
  
}.authen-template {
  padding: 36px 48px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff9e8;
  &__content {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    &__form {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapper {
        width: 100%;
        & > img {
          margin-bottom: 35px;
        }
      }
    }
    &__background {
      display: flex;
      align-items: center;
      width: 50%;
      img {
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }
    }
  }
}
