.container {
    height: 110vh;
    margin-top: 53px;
    margin-left: 20px;
    background-color: beige;
    border-radius: 8px;
    width: 1080px;

    h4 {
        font-size: 50px;
        margin-bottom: 50px;
        font-style: italic;
        color: gray;
    }

    .product-card {
        display: flex;

        .product-details {
            margin-left: 20px;

            p {
                color: gray;
            }
        }

        .button-outside {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            .button-detail {
                width: 250px;
                height: 35px;
                border-radius: 8px;
                border: 1px solid gray;
                background-color: burlywood;
            }

            .button-detail:hover {
                background-color: dimgray;
                color: white;
                -webkit-transition: all 500ms ease;
                -moz-transition: all 500ms ease;
                -ms-transition: all 500ms ease;
                -o-transition: all 500ms ease;
                transition: all 500ms ease;
            }
        }
    }
}