.payment-page {
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  //   background-color: black;
  width: 100%;
  gap: 20px;
  .order-info,
  .payment-info {
    background-color: rgba(248, 243, 170, 0.13);
    // display: flex;
    // width: 30%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    // width: 80%;
    // max-width: 600px;
    border: solid 1px;
    height: max-content;
  }
  .qr-code {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .payment-all {
    display: flex;
    gap: 20px;
    .bank-details {
      margin-top: 50px;
      gap: 20px;
      //   border-left: solid 1px;
    }
  }
}
button {
  border: none;
  //    display: flex;
  width: max-content;
  background-color: rgba(240, 255, 255, 0);
  color: rgb(22, 214, 32);
  font-size: 15px;
}
p {
  font-size: 14px;
}
