@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);


.slider-container {
    font-family: "Poppins";
    margin-top: 20px;

    img {
        width: 355px;
        height: 200px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: 20px;
    }

    .slick-next:before {
        color: black;
    }

    .slick-prev:before {
        color: black;
    }
}

.card {
    font-family: "Poppins";
    background-color: whitesmoke;
    width: 90% !important;
    height: 400px;
    .info{
        margin-left: 10px;
    }
    h1 {
        margin-bottom: 20px;
        text-align: center;
        color: gray;
    }

    .button-outside {
        display: flex;
        justify-content: center;
        overflow: hidden;
        .button-detail {
            width: 250px;
            height: 35px;
            border-radius: 8px;
            border: 1px solid gray;
            background-color: burlywood;
        }

        .button-detail:hover {
            background-color: dimgray;
            color: white;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
        }
    }
}