.createBidRequest{
    .form-creat-bid{
        max-width:600px;
        width: calc(100% - 48px);
        margin: auto;
            // height: 1000px;
            color: rebeccapurple;
        
    }
}
